*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.ipa
*.xcodeproj
*.xcworkspace
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.png
*.tga
*.vsconfig
*.uproject

.idea/
.vs/
Binaries/

Build/*
!Build/*/
Build/*/**
!/Build/*/PakBlacklist*.txt
!/Build/**/*.ico

Config/
Content/
DerivedDataCache/
Intermediate/
Plugins/
Saved/
Source/
