*.vsconfig
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.ipa
*.xcodeproj
*.xcworkspace
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.png
*.tga

.idea/
.vs/
Binaries/

Build/*
!Build/*/
Build/*/**
!/Build/*/PakBlacklist*.txt
!/Build/**/*.ico

Content/

DerivedDataCache/
Intermediate/
Plugins/
!Plugins/RCUtils/Source/
!Plugins/RCUtils/*.uplugin

Saved/
!Saved/Config/WindowsEditor/GameUserSettings.ini

/Source/GameCore/GameKeys.h
/Config/DefaultCrypto.ini
/Config/DefaultEngine.ini
FaF_Rev.uproject
