*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.ipa
*.xcodeproj
*.xcworkspace
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.png
*.tga
*.vsconfig
*.uproject

.idea/
.vs/
Binaries/
DerivedDataCache/
Intermediate/
/Config/
/Content/
/Plugins/
/Saved/
# /Source/

Build/*
!Build/*/
Build/*/**
!/Build/*/PakBlacklist*.txt
!/Build/**/*.ico

!Config/DefaultEngine.ini
Config/DefaultGame.ini

!Saved/Config/WindowsEditor/Game.ini
!Saved/Config/WindowsEditor/GameUserSettings.ini
